In [1]:
#pandas basics

In [30]:
import pandas as pd

In [2]:
products = ['a','b','c','d']

In [3]:
products

['a', 'b', 'c', 'd']

In [4]:
product_categories = pd.Series(products)

In [5]:
product_categories

0    a
1    b
2    c
3    d
dtype: object

In [15]:
product_categories.dtype

dtype('O')

In [16]:
product_categories.size

4

In [17]:
type(product_categories)

pandas.core.series.Series

In [6]:
daily_rates = pd.Series([60,70,80])

In [7]:
daily_rates

0    60
1    70
2    80
dtype: int64

In [8]:
import numpy as np

In [9]:
array_a = np.array([10,20,30,40])

In [10]:
array_a

array([10, 20, 30, 40])

In [11]:
series_a =pd.Series(array_a)

In [12]:
series_a

0    10
1    20
2    30
3    40
dtype: int32

In [13]:
series_a.dtype

dtype('int32')

In [14]:
series_a.size

4

In [18]:
product_categories.name

In [19]:
print(product_categories.name)

None

In [20]:
product_categories.name = 'product categories'

In [21]:
product_categories

0    a
1    b
2    c
3    d
Name: product categories, dtype: object

In [22]:
product_categories.name

'product categories'

In [24]:
prices_per_category = {'Product A' : 22250 ,'Product B' : 16600 , 'Product C' : 15600}
prices_per_category

{'Product A': 22250, 'Product B': 16600, 'Product C': 15600}

In [25]:
prices_per_category = pd.Series(prices_per_category)

In [26]:
prices_per_category

Product A    22250
Product B    16600
Product C    15600
dtype: int64

In [27]:
prices_per_category.index

Index(['Product A', 'Product B', 'Product C'], dtype='object')

In [28]:
series_a.index

RangeIndex(start=0, stop=4, step=1)

In [29]:
list(series_a.index)

[0, 1, 2, 3]

In [33]:
series_a[1]

20

In [37]:
prices_per_category['Product A']

22250

In [38]:
prices_per_category[0]

22250

In [39]:
series_b = pd.Series([10,20,30,40,50], index = [1,2,3,4,5])
series_b

1    10
2    20
3    30
4    40
5    50
dtype: int64

In [40]:
series_b[0]

KeyError: 0

In [43]:
series_b[1]

10

In [44]:
series_c = pd.Series([10,20,30,40,50], index = ['1','2','3','4','5'])
series_c

1    10
2    20
3    30
4    40
5    50
dtype: int64

In [45]:
#as the index are strings without qoutes it represents default index
series_c[1]

20

In [46]:
series_c['1']

10

In [61]:
start_date_deposits = pd.Series({'1/2/2021':2000,'2/3/2021':2000,'3/4/2021':1000,'9/5/2015':4000,'9/18/2015':2500,'3/24/2016':2500})

In [62]:
start_date_deposits

1/2/2021     2000
2/3/2021     2000
3/4/2021     1000
9/5/2015     4000
9/18/2015    2500
3/24/2016    2500
dtype: int64

In [50]:
start_date_deposits.sum()

11500

In [51]:
start_date_deposits.min()

1000

In [52]:
start_date_deposits.max()

4000

In [57]:
start_date_deposits.idxmax()

'9/5/2015'

In [58]:
start_date_deposits.idxmin()

'3/4/2021'

In [63]:
#fetch start 5 elements by default
start_date_deposits.head()

1/2/2021     2000
2/3/2021     2000
3/4/2021     1000
9/5/2015     4000
9/18/2015    2500
dtype: int64

In [64]:
#fetch end 5 elements
start_date_deposits.tail()

2/3/2021     2000
3/4/2021     1000
9/5/2015     4000
9/18/2015    2500
3/24/2016    2500
dtype: int64

In [65]:
#fetch start 3 elements
start_date_deposits.head(3)

1/2/2021    2000
2/3/2021    2000
3/4/2021    1000
dtype: int64

In [66]:
#creating dataframe from scratch

In [67]:
data = {'Product Name':["Product A","Product B","Product C"], "Product Price":[22250,16600,12500]}
df = pd.DataFrame(data)
df

  Product Name  Product Price
0    Product A          22250
1    Product B          16600
2    Product C          12500

In [68]:
#creating an extra product without a price
data = {'Product Name':["Product A","Product B","Product C","Product D"], "Product Price":[22250,16600,12500]}
df = pd.DataFrame(data)
df

ValueError: All arrays must be of the same length

In [69]:
#dataframes with index specifications

In [70]:
data = {'Product Name':["Product A","Product B","Product C"], "Product Price":[22250,16600,12500]}
df = pd.DataFrame(data, index = ['A','B','C'])
df

  Product Name  Product Price
A    Product A          22250
B    Product B          16600
C    Product C          12500

In [71]:
data = {'Product Name':["Product A","Product B","Product C"], "Product Price":[22250,16600,12500]}
product_ID = ['A','B','C']
df = pd.DataFrame(data,index=product_ID)
df

  Product Name  Product Price
A    Product A          22250
B    Product B          16600
C    Product C          12500

In [72]:
#constructing dataframe in professional way

In [73]:
df = pd.DataFrame(data = [['Product A',22250], ['Product B',16600],['Product C',12500]],
                  columns = ['ProductName', 'Product Price'], 
                  index = ['A','B','C'] )
df

  ProductName  Product Price
A   Product A          22250
B   Product B          16600
C   Product C          12500

In [74]:
#rows x columns
df.shape

(3, 2)

In [75]:
#pandas series

In [76]:
data =  pd.read_csv('Location.csv',squeeze=True)
location_data = data.copy()
location_data.head()

0     Location 3
1     Location 6
2     Location 8
3    Location 26
4    Location 34
Name: Location, dtype: object

In [77]:
type(location_data)

pandas.core.series.Series

In [78]:
location_data.describe()

count            1043
unique            296
top       Location 25
freq               31
Name: Location, dtype: object

In [79]:
len(location_data)

1043

In [80]:
location_data.nunique()

296

In [81]:
type(location_data.nunique())

int

In [82]:
location_data.unique()

array(['Location 3', 'Location 6', 'Location 8', 'Location 26',
       'Location 34', 'Location 25', 'Location 46', 'Location 156',
       'Location 21', 'Location 13', 'Location 579', 'Location 602',
       'Location 10', 'Location 44', 'Location 30', 'Location 48',
       'Location 196', 'Location 64', 'Location 91', 'Location 62',
       'Location 75', 'Location 42', 'Location 233', 'Location 95',
       'Location 78', 'Location 61', 'Location 87', 'Location 19',
       'Location 115', 'Location 350', 'Location 377', 'Location 17',
       'Location 113', 'Location 81', 'Location 58', 'Location 212',
       'Location 53', 'Location 337', 'Location 41', 'Location 632',
       'Location 73', 'Location 214', 'Location 218', 'Location 38',
       'Location 172', 'Location 197', 'Location 101', 'Location 185',
       'Location 129', 'Location 235', 'Location 142', 'Location 50',
       'Location 76', 'Location 11', 'Location 33', 'Location 22',
       'Location 145', 'Location 203', 'Location 94', 'Location 573',
       'Location 27', 'Location 186', 'Location 4', 'Location 70',
       'Location 45', 'Location 262', 'Location 111', 'Location 84',
       'Location 108', 'Location 7', 'Location 74', 'Location 450',
       'Location 47', 'Location 37', 'Location 43', 'Location 286',
       'Location 89', 'Location 24', 'Location 97', 'Location 144',
       'Location 40', 'Location 128', 'Location 169', 'Location 399',
       'Location 23', 'Location 191', 'Location 178', 'Location 510',
       'Location 600', 'Location 188', 'Location 67', 'Location 49',
       'Location 29', 'Location 222', 'Location 386', 'Location 88',
       'Location 104', 'Location 405', 'Location 114', 'Location 259',
       'Location 182', 'Location 12', 'Location 228', 'Location 149',
       'Location 90', 'Location 109', 'Location 441', 'Location 421',
       'Location 641', 'Location 195', 'Location 20', 'Location 161',
       'Location 117', 'Location 200', 'Location 106', 'Location 31',
       'Location 122', 'Location 541', 'Location 495', 'Location 193',
       'Location 39', 'Location 9', 'Location 86', 'Location 107',
       'Location 198', 'Location 318', 'Location 135', 'Location 177',
       'Location 32', 'Location 591', 'Location 488', 'Location 418',
       'Location 587', 'Location 454', 'Location 543', 'Location 489',
       'Location 60', 'Location 52', 'Location 548', 'Location 15',
       'Location 240', 'Location 658', 'Location 209', 'Location 151',
       'Location 192', 'Location 364', 'Location 18', 'Location 503',
       'Location 482', 'Location 460', 'Location 71', 'Location 69',
       'Location 258', 'Location 204', 'Location 124', 'Location 168',
       'Location 35', 'Location 296', 'Location 136', 'Location 28',
       'Location 153', 'Location 99', 'Location 132', 'Location 427',
       'Location 118', 'Location 127', 'Location 159', 'Location 154',
       'Location 175', 'Location 120', 'Location 82', 'Location 152',
       'Location 56', 'Location 282', 'Location 566', 'Location 365',
       'Location 353', 'Location 66', 'Location 2', 'Location 323',
       'Location 473', 'Location 206', 'Location 57', 'Location 68',
       'Location 166', 'Location 1', 'Location 227', 'Location 79',
       'Location 642', 'Location 105', 'Location 644', 'Location 547',
       'Location 637', 'Location 59', 'Location 574', 'Location 529',
       'Location 554', 'Location 275', 'Location 589', 'Location 160',
       'Location 410', 'Location 146', 'Location 221', 'Location 265',
       'Location 569', 'Location 157', 'Location 648', 'Location 165',
       'Location 651', 'Location 266', 'Location 77', 'Location 158',
       'Location 336', 'Location 72', 'Location 463', 'Location 253',
       'Location 5', 'Location 431', 'Location 515', 'Location 226',
       'Location 140', 'Location 110', 'Location 202', 'Location 634',
       'Location 138', 'Location 217', 'Location 443', 'Location 627',
       'Location 123', 'Location 528', 'Location 357', 'Location 187',
       'Location 315', 'Location 112', 'Location 302', 'Location 194',
       'Location 332', 'Location 208', 'Location 179', 'Location 199',
       'Location 201', 'Location 174', 'Location 474', 'Location 184',
       'Location 63', 'Location 512', 'Location 403', 'Location 436',
       'Location 210', 'Location 468', 'Location 464', 'Location 98',
       'Location 102', 'Location 325', 'Location 267', 'Location 173',
       'Location 617', 'Location 141', 'Location 300', 'Location 216',
       'Location 506', 'Location 647', 'Location 402', 'Location 239',
       'Location 54', 'Location 137', 'Location 477', 'Location 586',
       'Location 472', 'Location 374', 'Location 458', 'Location 180',
       'Location 653', 'Location 16', 'Location 612', 'Location 505',
       'Location 631', 'Location 299', 'Location 65', 'Location 342',
       'Location 155', 'Location 511', 'Location 461', 'Location 244',
       'Location 207', 'Location 597', 'Location 352', 'Location 533',
       'Location 384', 'Location 80', 'Location 171', 'Location 143',
       'Location 576', 'Location 139', 'Location 125', 'Location 181'],
      dtype=object)

In [85]:
type(location_data.unique())

numpy.ndarray

In [86]:
prices_per_category

Product A    22250
Product B    16600
Product C    15600
dtype: int64

In [87]:
prices_per_category.values

array([22250, 16600, 15600], dtype=int64)

In [88]:
type(prices_per_category.values)

numpy.ndarray

In [89]:
prices_per_category.array

<PandasArray>
[22250, 16600, 15600]
Length: 3, dtype: int64

In [90]:
type(prices_per_category.array)

pandas.core.arrays.numpy_.PandasArray

In [91]:
prices_per_category.to_numpy()

array([22250, 16600, 15600], dtype=int64)

In [92]:
type(prices_per_category.to_numpy())

numpy.ndarray

In [93]:
test_array = prices_per_category[['Product A','Product B']].to_numpy(dtype='float')
test_array

array([22250., 16600.])

In [94]:
type(test_array[0])

numpy.float64

In [95]:
prices_per_category.values[0]

22250

In [96]:
type(prices_per_category.values[0])

numpy.int64

In [97]:
prices_per_category.array[0]

22250

In [99]:
type(prices_per_category.array[0])

numpy.int64

In [102]:
prices_per_category.to_numpy()[0]

22250

In [103]:
type(prices_per_category.to_numpy()[0])

numpy.int64

In [105]:
numbers = pd.Series([15,1000,23,45,44])
numbers

0      15
1    1000
2      23
3      45
4      44
dtype: int64

In [106]:
numbers.sort_values()

0      15
2      23
4      44
3      45
1    1000
dtype: int64

In [107]:
numbers.sort_values(ascending=True)

0      15
2      23
4      44
3      45
1    1000
dtype: int64

In [108]:
numbers.sort_values(ascending=False)

1    1000
3      45
4      44
2      23
0      15
dtype: int64

In [110]:
location_data.sort_values()

637     Location 1
884     Location 1
465     Location 1
716    Location 10
623    Location 10
          ...
482    Location 97
128    Location 97
669    Location 97
757    Location 98
372    Location 99
Name: Location, Length: 1043, dtype: object

In [111]:
location_data.sort_values(ascending=True)

637     Location 1
884     Location 1
465     Location 1
716    Location 10
623    Location 10
          ...
482    Location 97
128    Location 97
669    Location 97
757    Location 98
372    Location 99
Name: Location, Length: 1043, dtype: object

In [112]:
location_data.sort_values(ascending=False)

372    Location 99
757    Location 98
128    Location 97
482    Location 97
271    Location 97
          ...
202    Location 10
298    Location 10
637     Location 1
884     Location 1
465     Location 1
Name: Location, Length: 1043, dtype: object

In [113]:
location_data.index

RangeIndex(start=0, stop=1043, step=1)

In [114]:
location_data.name

'Location'

In [115]:
location_data.index.name

In [116]:
location_data.index.name = 'Index'

In [118]:
location_data

Index
0        Location 3
1        Location 6
2        Location 8
3       Location 26
4       Location 34
           ...
1038    Location 73
1039    Location 82
1040    Location 11
1041    Location 26
1042    Location 94
Name: Location, Length: 1043, dtype: object

In [119]:
location_data.sort_values()

Index
637     Location 1
884     Location 1
465     Location 1
716    Location 10
623    Location 10
          ...
482    Location 97
128    Location 97
669    Location 97
757    Location 98
372    Location 99
Name: Location, Length: 1043, dtype: object

In [120]:
location_data.sort_values().head()

Index
637     Location 1
884     Location 1
465     Location 1
716    Location 10
623    Location 10
Name: Location, dtype: object

In [121]:
location_data.sort_values().tail()

Index
482    Location 97
128    Location 97
669    Location 97
757    Location 98
372    Location 99
Name: Location, dtype: object

In [122]:
location_data.index

RangeIndex(start=0, stop=1043, step=1, name='Index')

In [123]:
type(location_data.index)

pandas.core.indexes.range.RangeIndex

In [124]:
location_data.index.to_numpy()

array([   0,    1,    2, ..., 1040, 1041, 1042], dtype=int64)

In [125]:
location_data.sort_values(ascending=False)

Index
372    Location 99
757    Location 98
128    Location 97
482    Location 97
271    Location 97
          ...
202    Location 10
298    Location 10
637     Location 1
884     Location 1
465     Location 1
Name: Location, Length: 1043, dtype: object

In [126]:
location_data_sv = location_data.sort_values(ascending=False)

In [128]:
location_data_sv.head()

Index
372    Location 99
757    Location 98
128    Location 97
482    Location 97
271    Location 97
Name: Location, dtype: object

In [129]:
location_data_sv.index

Int64Index([ 372,  757,  128,  482,  271,  669,  612,   29,  518,  598,
            ...
             904,  912, 1010,   14,  716,  202,  298,  637,  884,  465],
           dtype='int64', name='Index', length=1043)

In [130]:
location_data_sv.index.sort_values()

Int64Index([   0,    1,    2,    3,    4,    5,    6,    7,    8,    9,
            ...
            1033, 1034, 1035, 1036, 1037, 1038, 1039, 1040, 1041, 1042],
           dtype='int64', name='Index', length=1043)

In [131]:
location_data_sv.head()

Index
372    Location 99
757    Location 98
128    Location 97
482    Location 97
271    Location 97
Name: Location, dtype: object

In [133]:
location_data_sv.index = location_data_sv.index.sort_values()

In [136]:
location_data_sv

Index
0       Location 99
1       Location 98
2       Location 97
3       Location 97
4       Location 97
           ...
1038    Location 10
1039    Location 10
1040     Location 1
1041     Location 1
1042     Location 1
Name: Location, Length: 1043, dtype: object

In [140]:
location_data_sv =  location_data.sort_values(ascending=False)
location_data_sv

Index
372    Location 99
757    Location 98
128    Location 97
482    Location 97
271    Location 97
          ...
202    Location 10
298    Location 10
637     Location 1
884     Location 1
465     Location 1
Name: Location, Length: 1043, dtype: object

In [141]:
location_data_sv.sort_index()

Index
0        Location 3
1        Location 6
2        Location 8
3       Location 26
4       Location 34
           ...
1038    Location 73
1039    Location 82
1040    Location 11
1041    Location 26
1042    Location 94
Name: Location, Length: 1043, dtype: object

In [142]:
location_data_sv

Index
372    Location 99
757    Location 98
128    Location 97
482    Location 97
271    Location 97
          ...
202    Location 10
298    Location 10
637     Location 1
884     Location 1
465     Location 1
Name: Location, Length: 1043, dtype: object

In [144]:
location_data_sv = location_data_sv.sort_index(ascending=True)
location_data_sv

Index
0        Location 3
1        Location 6
2        Location 8
3       Location 26
4       Location 34
           ...
1038    Location 73
1039    Location 82
1040    Location 11
1041    Location 26
1042    Location 94
Name: Location, Length: 1043, dtype: object

In [1]:
#pandas dataframes

In [2]:
import pandas as pd

In [3]:
import numpy as np

In [5]:
array_a = np.array([[3,2,1],[6,3,2]])
array_a

array([[3, 2, 1],
       [6, 3, 2]])

In [6]:
pd.DataFrame(array_a)

   0  1  2
0  3  2  1
1  6  3  2

In [7]:
df = pd.DataFrame(array_a, columns=['Column 1','Column 2','Column 3'], index = ['Row 1','Row 2'])
df

       Column 1  Column 2  Column 3
Row 1         3         2         1
Row 2         6         3         2

In [13]:
data = pd.read_csv('Lending-company.csv',index_col = 'LoanID')
lending_co_data = data.copy()
lending_co_data.head()

,StringID,Product,CustomerGender,Location,Region,TotalPrice,StartDate,Deposit,DailyRate,TotalDaysYr,AmtPaid36,AmtPaid60,AmtPaid360,LoanStatus
LoanID,,,,,,,,,,,,,,
1,LoanID_1,Product B,Female,Location 3,Region 2,17600.0,04/07/2018,2200,45,365,3221,4166,14621,Active
2,LoanID_2,Product D,Female,Location 6,Region 6,NaN,02/01/2019,2200,45,365,3161,4096,16041,Active
3,LoanID_3,Product B,Male,Location 8,Region 3,16600.0,08/12/2016,1000,45,365,2260,3205,16340,NaN
4,LoanID_4,Product A,Male,Location 26,Region 2,17600.0,NaN,2200,45,365,3141,4166,16321,Active
5,LoanID_5,Product B,Female,Location 34,Region 3,21250.0,28/10/2017,2200,55,365,3570,4745,14720,Active

In [14]:
type(lending_co_data)

pandas.core.frame.DataFrame

In [15]:
lending_co_data.index

Int64Index([   1,    2,    3,    4,    5,    6,    7,    8,    9,   10,
            ...
            1034, 1035, 1036, 1037, 1038, 1039, 1040, 1041, 1042, 1043],
           dtype='int64', name='LoanID', length=1043)

In [16]:
type(lending_co_data.index)

pandas.core.indexes.numeric.Int64Index

In [17]:
lending_co_data.columns

Index(['StringID', 'Product', 'CustomerGender', 'Location', 'Region',
       'TotalPrice', 'StartDate', 'Deposit', 'DailyRate', 'TotalDaysYr',
       'AmtPaid36', 'AmtPaid60', 'AmtPaid360', 'LoanStatus'],
      dtype='object')

In [18]:
type(lending_co_data.columns)

pandas.core.indexes.base.Index

In [19]:
lending_co_data.axes

[Int64Index([   1,    2,    3,    4,    5,    6,    7,    8,    9,   10,
             ...
             1034, 1035, 1036, 1037, 1038, 1039, 1040, 1041, 1042, 1043],
            dtype='int64', name='LoanID', length=1043),
 Index(['StringID', 'Product', 'CustomerGender', 'Location', 'Region',
        'TotalPrice', 'StartDate', 'Deposit', 'DailyRate', 'TotalDaysYr',
        'AmtPaid36', 'AmtPaid60', 'AmtPaid360', 'LoanStatus'],
       dtype='object')]

In [20]:
lending_co_data.dtypes

StringID           object
Product            object
CustomerGender     object
Location           object
Region             object
TotalPrice        float64
StartDate          object
Deposit             int64
DailyRate           int64
TotalDaysYr         int64
AmtPaid36           int64
AmtPaid60           int64
AmtPaid360          int64
LoanStatus         object
dtype: object

In [21]:
lending_co_data.values

array([['LoanID_1', 'Product B', 'Female', ..., 4166, 14621, 'Active'],
       ['LoanID_2', 'Product D', 'Female', ..., 4096, 16041, 'Active'],
       ['LoanID_3', 'Product B', 'Male', ..., 3205, 16340, nan],
       ...,
       ['LoanID_1041', 'Product A', 'NotSpecified', ..., 5143, 16617,
        'Finished Payment'],
       ['LoanID_1042', 'Product B', 'Female', ..., 3462, 15617,
        'Finished Payment'],
       ['LoanID_1043', 'Product A', 'NotSpecified', ..., 4743, 16617,
        'Finished Payment']], dtype=object)

In [22]:
type(lending_co_data.values)

numpy.ndarray

In [24]:
lending_co_data.to_numpy()

array([['LoanID_1', 'Product B', 'Female', ..., 4166, 14621, 'Active'],
       ['LoanID_2', 'Product D', 'Female', ..., 4096, 16041, 'Active'],
       ['LoanID_3', 'Product B', 'Male', ..., 3205, 16340, nan],
       ...,
       ['LoanID_1041', 'Product A', 'NotSpecified', ..., 5143, 16617,
        'Finished Payment'],
       ['LoanID_1042', 'Product B', 'Female', ..., 3462, 15617,
        'Finished Payment'],
       ['LoanID_1043', 'Product A', 'NotSpecified', ..., 4743, 16617,
        'Finished Payment']], dtype=object)

In [25]:
type(lending_co_data.to_numpy())

numpy.ndarray

In [26]:
lending_co_data.shape

(1043, 14)

In [27]:
len(lending_co_data.columns)

14

In [28]:
data = pd.read_csv('Lending-company.csv',index_col = 'StringID')
lending_co_data = data.copy()
lending_co_data.head()

,LoanID,Product,CustomerGender,Location,Region,TotalPrice,StartDate,Deposit,DailyRate,TotalDaysYr,AmtPaid36,AmtPaid60,AmtPaid360,LoanStatus
StringID,,,,,,,,,,,,,,
LoanID_1,1,Product B,Female,Location 3,Region 2,17600.0,04/07/2018,2200,45,365,3221,4166,14621,Active
LoanID_2,2,Product D,Female,Location 6,Region 6,NaN,02/01/2019,2200,45,365,3161,4096,16041,Active
LoanID_3,3,Product B,Male,Location 8,Region 3,16600.0,08/12/2016,1000,45,365,2260,3205,16340,NaN
LoanID_4,4,Product A,Male,Location 26,Region 2,17600.0,NaN,2200,45,365,3141,4166,16321,Active
LoanID_5,5,Product B,Female,Location 34,Region 3,21250.0,28/10/2017,2200,55,365,3570,4745,14720,Active

In [31]:
lending_co_data.Product

StringID
LoanID_1       Product B
LoanID_2       Product D
LoanID_3       Product B
LoanID_4       Product A
LoanID_5       Product B
                 ...
LoanID_1039    Product B
LoanID_1040    Product A
LoanID_1041    Product A
LoanID_1042    Product B
LoanID_1043    Product A
Name: Product, Length: 1043, dtype: object

In [32]:
lending_co_data.Location

StringID
LoanID_1        Location 3
LoanID_2        Location 6
LoanID_3        Location 8
LoanID_4       Location 26
LoanID_5       Location 34
                  ...
LoanID_1039    Location 73
LoanID_1040    Location 82
LoanID_1041    Location 11
LoanID_1042    Location 26
LoanID_1043    Location 94
Name: Location, Length: 1043, dtype: object

In [33]:
lending_co_data['Product']

StringID
LoanID_1       Product B
LoanID_2       Product D
LoanID_3       Product B
LoanID_4       Product A
LoanID_5       Product B
                 ...
LoanID_1039    Product B
LoanID_1040    Product A
LoanID_1041    Product A
LoanID_1042    Product B
LoanID_1043    Product A
Name: Product, Length: 1043, dtype: object

In [34]:
lending_co_data['Location']

StringID
LoanID_1        Location 3
LoanID_2        Location 6
LoanID_3        Location 8
LoanID_4       Location 26
LoanID_5       Location 34
                  ...
LoanID_1039    Location 73
LoanID_1040    Location 82
LoanID_1041    Location 11
LoanID_1042    Location 26
LoanID_1043    Location 94
Name: Location, Length: 1043, dtype: object

In [35]:
lending_co_data['location']

KeyError: 'location'

In [37]:
type(lending_co_data['Location'])

pandas.core.series.Series

In [38]:
lending_co_data[['Location']]

                Location
StringID
LoanID_1      Location 3
LoanID_2      Location 6
LoanID_3      Location 8
LoanID_4     Location 26
LoanID_5     Location 34
...                  ...
LoanID_1039  Location 73
LoanID_1040  Location 82
LoanID_1041  Location 11
LoanID_1042  Location 26
LoanID_1043  Location 94

[1043 rows x 1 columns]

In [39]:
type(lending_co_data[['Location']])

pandas.core.frame.DataFrame

In [40]:
lending_co_data[['Location', 'Product']].head()

             Location    Product
StringID
LoanID_1   Location 3  Product B
LoanID_2   Location 6  Product D
LoanID_3   Location 8  Product B
LoanID_4  Location 26  Product A
LoanID_5  Location 34  Product B

In [41]:
prod_loc = ['Location', 'Product']
lending_co_data[prod_loc].head()

             Location    Product
StringID
LoanID_1   Location 3  Product B
LoanID_2   Location 6  Product D
LoanID_3   Location 8  Product B
LoanID_4  Location 26  Product A
LoanID_5  Location 34  Product B

In [46]:
lending_co_data['Location', 'Product']

KeyError: ('Location', 'Product')

In [47]:
#data selection - Indexing Data with .iloc[]

In [48]:
data =  pd.read_csv('Lending-company.csv', index_col = 'StringID')
lending_co_data = data.copy()
lending_co_data.head()

,LoanID,Product,CustomerGender,Location,Region,TotalPrice,StartDate,Deposit,DailyRate,TotalDaysYr,AmtPaid36,AmtPaid60,AmtPaid360,LoanStatus
StringID,,,,,,,,,,,,,,
LoanID_1,1,Product B,Female,Location 3,Region 2,17600.0,04/07/2018,2200,45,365,3221,4166,14621,Active
LoanID_2,2,Product D,Female,Location 6,Region 6,NaN,02/01/2019,2200,45,365,3161,4096,16041,Active
LoanID_3,3,Product B,Male,Location 8,Region 3,16600.0,08/12/2016,1000,45,365,2260,3205,16340,NaN
LoanID_4,4,Product A,Male,Location 26,Region 2,17600.0,NaN,2200,45,365,3141,4166,16321,Active
LoanID_5,5,Product B,Female,Location 34,Region 3,21250.0,28/10/2017,2200,55,365,3570,4745,14720,Active

In [49]:
lending_co_data[1]

KeyError: 1

In [50]:
lending_co_data[0,1]

KeyError: (0, 1)

In [51]:
lending_co_data['Product']

StringID
LoanID_1       Product B
LoanID_2       Product D
LoanID_3       Product B
LoanID_4       Product A
LoanID_5       Product B
                 ...
LoanID_1039    Product B
LoanID_1040    Product A
LoanID_1041    Product A
LoanID_1042    Product B
LoanID_1043    Product A
Name: Product, Length: 1043, dtype: object

In [52]:
lending_co_data.iloc[1]

LoanID                     2
Product            Product D
CustomerGender        Female
Location          Location 6
Region              Region 6
TotalPrice               NaN
StartDate         02/01/2019
Deposit                 2200
DailyRate                 45
TotalDaysYr              365
AmtPaid36               3161
AmtPaid60               4096
AmtPaid360             16041
LoanStatus            Active
Name: LoanID_2, dtype: object

In [53]:
lending_co_data.iloc[1,3]

'Location 6'

In [54]:
lending_co_data.iloc[1,:]

LoanID                     2
Product            Product D
CustomerGender        Female
Location          Location 6
Region              Region 6
TotalPrice               NaN
StartDate         02/01/2019
Deposit                 2200
DailyRate                 45
TotalDaysYr              365
AmtPaid36               3161
AmtPaid60               4096
AmtPaid360             16041
LoanStatus            Active
Name: LoanID_2, dtype: object

In [55]:
lending_co_data.iloc[:,3]

StringID
LoanID_1        Location 3
LoanID_2        Location 6
LoanID_3        Location 8
LoanID_4       Location 26
LoanID_5       Location 34
                  ...
LoanID_1039    Location 73
LoanID_1040    Location 82
LoanID_1041    Location 11
LoanID_1042    Location 26
LoanID_1043    Location 94
Name: Location, Length: 1043, dtype: object

In [58]:
lending_co_data.iloc[[1,3], :]

,LoanID,Product,CustomerGender,Location,Region,TotalPrice,StartDate,Deposit,DailyRate,TotalDaysYr,AmtPaid36,AmtPaid60,AmtPaid360,LoanStatus
StringID,,,,,,,,,,,,,,
LoanID_2,2,Product D,Female,Location 6,Region 6,NaN,02/01/2019,2200,45,365,3161,4096,16041,Active
LoanID_4,4,Product A,Male,Location 26,Region 2,17600.0,NaN,2200,45,365,3141,4166,16321,Active

In [59]:
lending_co_data.iloc[:,[1,3]]

               Product     Location
StringID
LoanID_1     Product B   Location 3
LoanID_2     Product D   Location 6
LoanID_3     Product B   Location 8
LoanID_4     Product A  Location 26
LoanID_5     Product B  Location 34
...                ...          ...
LoanID_1039  Product B  Location 73
LoanID_1040  Product A  Location 82
LoanID_1041  Product A  Location 11
LoanID_1042  Product B  Location 26
LoanID_1043  Product A  Location 94

[1043 rows x 2 columns]

In [60]:
data =  pd.read_csv('Lending-company.csv', index_col = 'StringID')
lending_co_data = data.copy()
lending_co_data

,LoanID,Product,CustomerGender,Location,Region,TotalPrice,StartDate,Deposit,DailyRate,TotalDaysYr,AmtPaid36,AmtPaid60,AmtPaid360,LoanStatus
StringID,,,,,,,,,,,,,,
LoanID_1,1,Product B,Female,Location 3,Region 2,17600.0,04/07/2018,2200,45,365,3221,4166,14621,Active
LoanID_2,2,Product D,Female,Location 6,Region 6,NaN,02/01/2019,2200,45,365,3161,4096,16041,Active
LoanID_3,3,Product B,Male,Location 8,Region 3,16600.0,08/12/2016,1000,45,365,2260,3205,16340,NaN
LoanID_4,4,Product A,Male,Location 26,Region 2,17600.0,NaN,2200,45,365,3141,4166,16321,Active
LoanID_5,5,Product B,Female,Location 34,Region 3,21250.0,28/10/2017,2200,55,365,3570,4745,14720,Active
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
LoanID_1039,1039,Product B,Male,Location 73,Region 6,17300.0,29/12/2018,2200,45,365,3251,4743,16617,Finished Payment
LoanID_1040,1040,Product A,Male,Location 82,Region 1,NaN,28/03/2018,2200,45,365,4090,5582,16617,Finished Payment
LoanID_1041,1041,Product A,NotSpecified,Location 11,Region 4,17300.0,26/04/2018,2200,45,365,4051,5143,16617,Finished Payment
LoanID_1042,1042,Product B,Female,Location 26,Region 6,16300.0,25/10/2016,1000,45,365,1930,3462,15617,Finished Payment
LoanID_1043,1043,Product A,NotSpecified,Location 94,Region 6,17300.0,15/05/2019,2200,45,365,4451,4743,16617,Finished Payment

In [61]:
lending_co_data.loc['LoanID_3']

LoanID                     3
Product            Product B
CustomerGender          Male
Location          Location 8
Region              Region 3
TotalPrice           16600.0
StartDate         08/12/2016
Deposit                 1000
DailyRate                 45
TotalDaysYr              365
AmtPaid36               2260
AmtPaid60               3205
AmtPaid360             16340
LoanStatus               NaN
Name: LoanID_3, dtype: object

In [62]:
lending_co_data.loc['LoanID_3',:]

LoanID                     3
Product            Product B
CustomerGender          Male
Location          Location 8
Region              Region 3
TotalPrice           16600.0
StartDate         08/12/2016
Deposit                 1000
DailyRate                 45
TotalDaysYr              365
AmtPaid36               2260
AmtPaid60               3205
AmtPaid360             16340
LoanStatus               NaN
Name: LoanID_3, dtype: object

In [63]:
lending_co_data.loc['LoanID_3','Region']

'Region 3'

In [65]:
lending_co_data['Location']

StringID
LoanID_1        Location 3
LoanID_2        Location 6
LoanID_3        Location 8
LoanID_4       Location 26
LoanID_5       Location 34
                  ...
LoanID_1039    Location 73
LoanID_1040    Location 82
LoanID_1041    Location 11
LoanID_1042    Location 26
LoanID_1043    Location 94
Name: Location, Length: 1043, dtype: object

In [66]:
lending_co_data.loc['Location']

KeyError: 'Location'

In [67]:
lending_co_data.loc[:,'Location']

StringID
LoanID_1        Location 3
LoanID_2        Location 6
LoanID_3        Location 8
LoanID_4       Location 26
LoanID_5       Location 34
                  ...
LoanID_1039    Location 73
LoanID_1040    Location 82
LoanID_1041    Location 11
LoanID_1042    Location 26
LoanID_1043    Location 94
Name: Location, Length: 1043, dtype: object

In [68]:
lending_co_data.loc[:,'Locations']

KeyError: 'Locations'

In [69]:
data = pd.read_csv('Lending-company.csv', index_col= 'LoanID')
lending_co_data = data.copy()
lending_co_data

,StringID,Product,CustomerGender,Location,Region,TotalPrice,StartDate,Deposit,DailyRate,TotalDaysYr,AmtPaid36,AmtPaid60,AmtPaid360,LoanStatus
LoanID,,,,,,,,,,,,,,
1,LoanID_1,Product B,Female,Location 3,Region 2,17600.0,04/07/2018,2200,45,365,3221,4166,14621,Active
2,LoanID_2,Product D,Female,Location 6,Region 6,NaN,02/01/2019,2200,45,365,3161,4096,16041,Active
3,LoanID_3,Product B,Male,Location 8,Region 3,16600.0,08/12/2016,1000,45,365,2260,3205,16340,NaN
4,LoanID_4,Product A,Male,Location 26,Region 2,17600.0,NaN,2200,45,365,3141,4166,16321,Active
5,LoanID_5,Product B,Female,Location 34,Region 3,21250.0,28/10/2017,2200,55,365,3570,4745,14720,Active
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1039,LoanID_1039,Product B,Male,Location 73,Region 6,17300.0,29/12/2018,2200,45,365,3251,4743,16617,Finished Payment
1040,LoanID_1040,Product A,Male,Location 82,Region 1,NaN,28/03/2018,2200,45,365,4090,5582,16617,Finished Payment
1041,LoanID_1041,Product A,NotSpecified,Location 11,Region 4,17300.0,26/04/2018,2200,45,365,4051,5143,16617,Finished Payment
1042,LoanID_1042,Product B,Female,Location 26,Region 6,16300.0,25/10/2016,1000,45,365,1930,3462,15617,Finished Payment
1043,LoanID_1043,Product A,NotSpecified,Location 94,Region 6,17300.0,15/05/2019,2200,45,365,4451,4743,16617,Finished Payment

In [70]:
lending_co_data.shape

(1043, 14)

In [71]:
lending_co_data.iloc[1043, :]

IndexError: single positional indexer is out-of-bounds

In [72]:
lending_co_data.iloc[10000, :]

IndexError: single positional indexer is out-of-bounds

In [75]:
lending_co_data.iloc[:, 14]

IndexError: single positional indexer is out-of-bounds

In [77]:
lending_co_data.iloc[:, 14]

IndexError: single positional indexer is out-of-bounds

In [78]:
lending_co_data.iloc[:, 13]

LoanID
1                 Active
2                 Active
3                    NaN
4                 Active
5                 Active
              ...
1039    Finished Payment
1040    Finished Payment
1041    Finished Payment
1042    Finished Payment
1043    Finished Payment
Name: LoanStatus, Length: 1043, dtype: object

In [79]:
lending_co_data.iloc[:, -1]

LoanID
1                 Active
2                 Active
3                    NaN
4                 Active
5                 Active
              ...
1039    Finished Payment
1040    Finished Payment
1041    Finished Payment
1042    Finished Payment
1043    Finished Payment
Name: LoanStatus, Length: 1043, dtype: object

In [80]:
lending_co_data.head()

,StringID,Product,CustomerGender,Location,Region,TotalPrice,StartDate,Deposit,DailyRate,TotalDaysYr,AmtPaid36,AmtPaid60,AmtPaid360,LoanStatus
LoanID,,,,,,,,,,,,,,
1,LoanID_1,Product B,Female,Location 3,Region 2,17600.0,04/07/2018,2200,45,365,3221,4166,14621,Active
2,LoanID_2,Product D,Female,Location 6,Region 6,NaN,02/01/2019,2200,45,365,3161,4096,16041,Active
3,LoanID_3,Product B,Male,Location 8,Region 3,16600.0,08/12/2016,1000,45,365,2260,3205,16340,NaN
4,LoanID_4,Product A,Male,Location 26,Region 2,17600.0,NaN,2200,45,365,3141,4166,16321,Active
5,LoanID_5,Product B,Female,Location 34,Region 3,21250.0,28/10/2017,2200,55,365,3570,4745,14720,Active

In [85]:
lending_co_data['TotalPrice'].iloc[0, :]

IndexingError: Too many indexers

In [86]:
lending_co_data['TotalPrice'].iloc[0]

17600.0

In [87]:
lending_co_data['TotalPrice'][0]

KeyError: 0

In [91]:
lending_co_data['TotalPrice'][1]

17600.0

In [94]:
lending_co_data['TotalPrice'].loc[1]

17600.0

In [96]:
data = pd.read_csv('Lending-company.csv', index_col= 'StringID')
lending_co_data = data.copy()
lending_co_data.head()

,LoanID,Product,CustomerGender,Location,Region,TotalPrice,StartDate,Deposit,DailyRate,TotalDaysYr,AmtPaid36,AmtPaid60,AmtPaid360,LoanStatus
StringID,,,,,,,,,,,,,,
LoanID_1,1,Product B,Female,Location 3,Region 2,17600.0,04/07/2018,2200,45,365,3221,4166,14621,Active
LoanID_2,2,Product D,Female,Location 6,Region 6,NaN,02/01/2019,2200,45,365,3161,4096,16041,Active
LoanID_3,3,Product B,Male,Location 8,Region 3,16600.0,08/12/2016,1000,45,365,2260,3205,16340,NaN
LoanID_4,4,Product A,Male,Location 26,Region 2,17600.0,NaN,2200,45,365,3141,4166,16321,Active
LoanID_5,5,Product B,Female,Location 34,Region 3,21250.0,28/10/2017,2200,55,365,3570,4745,14720,Active

In [98]:
lending_co_data['TotalPrice'].iloc[0]

17600.0

In [100]:
lending_co_data['TotalPrice'].loc['LoanID_1']

17600.0

In [101]:
lending_co_data['TotalPrice'][0]

17600.0

In [102]:
lending_co_data['TotalPrice'][1]

nan

In [103]:
lending_co_data['TotalPrice']['LoanID_1']

17600.0

In [104]:
lending_co_data.iloc[0][5]

17600.0

In [105]:
lending_co_data.iloc[0,5]

17600.0

In [106]:
lending_co_data.iloc[[0,5]]

,LoanID,Product,CustomerGender,Location,Region,TotalPrice,StartDate,Deposit,DailyRate,TotalDaysYr,AmtPaid36,AmtPaid60,AmtPaid360,LoanStatus
StringID,,,,,,,,,,,,,,
LoanID_1,1,Product B,Female,Location 3,Region 2,17600.0,04/07/2018,2200,45,365,3221,4166,14621,Active
LoanID_6,6,Product A,Male,Location 34,Region 1,NaN,19/04/2019,2200,45,365,3301,4066,15141,Active

In [107]:
lending_co_data.iloc[[0,5],:]

,LoanID,Product,CustomerGender,Location,Region,TotalPrice,StartDate,Deposit,DailyRate,TotalDaysYr,AmtPaid36,AmtPaid60,AmtPaid360,LoanStatus
StringID,,,,,,,,,,,,,,
LoanID_1,1,Product B,Female,Location 3,Region 2,17600.0,04/07/2018,2200,45,365,3221,4166,14621,Active
LoanID_6,6,Product A,Male,Location 34,Region 1,NaN,19/04/2019,2200,45,365,3301,4066,15141,Active

In [108]:
lending_co_data['TotalPrice']['LoanID_1']

17600.0

In [111]:
lending_co_data.loc['LoanID_1','TotalPrice']

17600.0

In [112]:
lending_co_data.loc[['LoanID_1','LoanID_6']]

,LoanID,Product,CustomerGender,Location,Region,TotalPrice,StartDate,Deposit,DailyRate,TotalDaysYr,AmtPaid36,AmtPaid60,AmtPaid360,LoanStatus
StringID,,,,,,,,,,,,,,
LoanID_1,1,Product B,Female,Location 3,Region 2,17600.0,04/07/2018,2200,45,365,3221,4166,14621,Active
LoanID_6,6,Product A,Male,Location 34,Region 1,NaN,19/04/2019,2200,45,365,3301,4066,15141,Active

In [113]:
lending_co_data.loc[['LoanID_1','LoanID_6'],:]

,LoanID,Product,CustomerGender,Location,Region,TotalPrice,StartDate,Deposit,DailyRate,TotalDaysYr,AmtPaid36,AmtPaid60,AmtPaid360,LoanStatus
StringID,,,,,,,,,,,,,,
LoanID_1,1,Product B,Female,Location 3,Region 2,17600.0,04/07/2018,2200,45,365,3221,4166,14621,Active
LoanID_6,6,Product A,Male,Location 34,Region 1,NaN,19/04/2019,2200,45,365,3301,4066,15141,Active

In [114]:
lending_co_data.TotalPrice['LoanID_1']

17600.0

In [116]:
lending_co_data['TotalPrice'].iloc[[0,5]]

StringID
LoanID_1    17600.0
LoanID_6        NaN
Name: TotalPrice, dtype: float64

In [119]:
lending_co_data.loc[:,'TotalPrice'].iloc[[0,5]]

StringID
LoanID_1    17600.0
LoanID_6        NaN
Name: TotalPrice, dtype: float64